* {
    color: white;
    background-color: rgb(35, 31, 32);
}
body {
    height: 3000px;
    background-color: rgb(35, 31, 32);
    color: rgb(255, 255, 255);
    line-height: 1;
    font-family: 'Raleway',sans-serif;
}

header {
    display: flex;
    text-align: left;
    font-style: italic;
    font-weight: 300;
    font-size: 11rem;
    line-height: 2;
    font-family: Raleway, sans-serif;
    padding-top: 8%;
    padding-left: 25%;
}
h1 {
    display: inline;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 5rem;
    line-height: 1.2;
    font-family: Raleway, sans-serif;
    background-color: rgb(35, 31, 32);
    color: pink;
    padding: 2%;
    margin: 8%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-image: initial;
}
article {
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2;
    font-family: Raleway, sans-serif;
    margin: 15%;
    display: block;
}
ol {
    line-height: 2;
    font-size: 1.5rem;
}
ul {
    text-align: left;
    line-height: 1.5rem;
    padding: 5%;
}
section {
    text-align: left;
    font-style: italic;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2;
    font-family: Raleway, sans-serif;
    margin: 15%;
}
div {
    text-indent: 2em;
    margin: 5%;
    padding: 5%;
}
span {
    background-color: rgb(35, 31, 32);
    color: pink;
}

a:link {
    background-color: rgb(35, 31, 32);
    color: pink;
}

a:visited {
    background-color: rgb(35, 31, 32);
    color: grey;
}
a:hover {
    background-color: rgb(35, 31, 32);
    color: white;
}
